<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" colors="true">
    <testsuites>
        <testsuite name="KissMVC">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>src/Views</directory>
            <directory>src/Layouts</directory>
            <directory>src/Partials</directory>
        </exclude>
    </source>
</phpunit>
